@font-face {
  font-family: 'Minecraft';
  src: url(./assets/fonts/Minecraft.ttf) format('truetype');
}

@font-face {
  font-family: 'Minecrafter';
  src: url(./assets/fonts/minecrafter/Minecrafter.Reg.ttf) format('truetype');
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  cursor: url("./assets/cursor-pointer.png") 4 12, auto;
}

html,
body,
div,
span {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  user-select: none;
  vertical-align: baseline;
  overflow: hidden;
}

.display-none {
  display: none !important;
}

.absolute-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-centered {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.cursor {
  width: 25px;
  height: 25px;
  background-image: url(./assets/cursor.svg);
}

.texture-selector-container {
  display: flex;
  justify-content: center;
  min-width: 100%;
  margin-bottom: 25px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.texture-selector {
  padding: 15px 15px;
  display: flex;
  background-color: rgba(50, 50, 50, 0.7);
}

.texture-selector > img {
  border: 10px double rgb(117, 117, 117);
}

.texture-selector img.active {
  transform: scale(1.1);
  border: 10px double rgb(200, 200, 200);
}

.texture-image {
  width: 45px;
}

.menu {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  top: 0px;
  left: 30px;
}

button {
  font-family: 'Minecraft';
  color: white;
  font-size: medium;
  background-color: rgb(128, 128, 128);
  box-shadow: inset -3px -5px 0px 0px rgb(85, 85, 85, 0.6),
              inset 3px 3px 0px 0px rgb(250, 250, 250, 0.6);
  border: 3px solid black;
  padding: 10px 30px;
}

button:hover {
  cursor: url("./assets/cursor-pointer.png") 4 12, auto;
  border: 3px solid white;
}

.help-title {
  font-size: 2.3em;
}

.help-container {
  font-family: 'Minecrafter';
  color: white;
  width: 30%;
  height: 70%;
  background: url('./assets/textures/dirt.png') repeat;
  background-size: 90px;
  border: 3px solid black;
}

p {
  padding: 20px;
}

.help-info {
  font-family: 'Minecraft';
  font-size: large;
  overflow: auto;
  width: 100%;
  height: 50%;
  box-shadow: inset 0px 0px 5px 5px rgba(0,0,0,0.7);
  background-color: rgba(0, 0, 0, .7);
}
